{% extends "measurements/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Find Places
{% endblock title %}

{% block content %}

    <form class="" action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" name="button" class="btn btn-primary">Confirm</button>

    </form>
    <br>
    {% if map %}
        {{ map|safe }}
    {% endif %}

    {% if resturants %}
        <ul class="grid-list">
            {% for resturant in resturants %}
                <li>
                    <a href="https://www.google.com/search?q={{resturant.name}}+{{location}}"
                       target="_blank">
                        <span class="name"><strong>{{resturant.name}}</strong></span><br>
                        <span class="text-secondary">{{resturant.address}}</span><br>
                        <span class="text-secondary">{{resturant.distance}} Km.</span><br>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}
